/* App.css */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideInFade {
    from {
      opacity: 0;
      transform: translateY(20px); /* Adjust to slide in from the bottom */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .fade-in {
    animation: slideInFade 1s ease-in-out;
  }
  